﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – GameXO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>   
    <div class="navbar navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Русский", "LanguageSet", new { Language = "ru" })</li>
                    <li>@Html.ActionLink("English", "LanguageSet", new { Language = "en" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">        
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h4>@GlobalRes.WeWaitYouLabel</h4>
                <hr />
                @RenderBody()
            </div>
        </div>     
        <footer></footer>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="label label-warning">
                GameXO created by VAS - @DateTime.Now.Year
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
