﻿@using GameXO2.BaseLevel
@model  GameUser
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a id="myLogin">@Model.Login</a>         
        </li>
        <li>
            <a>@GlobalRes.WinsNumberLabel<div class="label label-success">@Model.WinsNumber</div></a>
        </li>
        <li>
            <a>@GlobalRes.GameNumberLabel<div class="label label-info">@Model.GameNumber</div></a>
        </li>
    </ul>
}

