﻿@using Microsoft.AspNet.Identity
@if (ViewBag.GameShow)
{
    <div class="well">
        <div class="container-fluid">
            <div class="row">
                <div id="hod" class="alert alert-info">@ViewBag.TitleXO</div>
            </div>
            <div class="row">
                <table class="col-md-offset-4" border="0" cellspacing="0">
                    <tr>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole0" onclick="Place(0);" width="64" height="64"></td>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole1" onclick="Place(1);" width="64" height="64"></td>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole2" onclick="Place(2);" width="64" height="64"></td>
                    </tr>
                    <tr>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole3" onclick="Place(3);" width="64" height="64"></td>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole4" onclick="Place(4);" width="64" height="64"></td>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole5" onclick="Place(5);" width="64" height="64"></td>
                    </tr>
                    <tr>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole6" onclick="Place(6);" width="64" height="64"></td>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole7" onclick="Place(7);" width="64" height="64"></td>
                        <td align="center"><img src="/Content/fonXO/e.gif" id="pole8" onclick="Place(8);" width="64" height="64"></td>
                    </tr>
                </table>
            </div>
            <div class="row">                
                    <ul class="nav navbar-nav navbar-right">
                    <li><a id="stopgamelabel" href="javascript:initStopGame()">@GlobalRes.StopGame</a></li>
                </ul>                
            </div>
        </div>
    </div>
}
else{
     <h4>@GlobalRes.GameAreaNoLabel</h4>
}
