﻿@using GameXO2.BaseLevel
@using Microsoft.AspNet.Identity
@model  IEnumerable<GameUser>
<h4 class="text-center">@GlobalRes.UserForGameLabel</h4>
<div class="well">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-3 text-center">@GlobalRes.LoginLabel</div>
            <div class="col-md-4 text-center">@GlobalRes.WinsNumberLabel</div>
            <div class="col-md-4 text-center">@GlobalRes.GameNumberLabel</div>
        </div>
        @foreach (var item in Model.OrderBy(p => p.WinsNumber))
        {
            <hr />
            <div class="row">
                <div class="col-md-offset-1 col-md-3 ">                    
                    <input class="btn btn-xs btn-danger" type="button" onclick="initAskStart('@item.Login','@item.Email')" value="@item.Login">
                </div>               
                <div class="col-md-offset-1 col-md-2 btn btn-xs btn-default">@item.WinsNumber</div>
                <div class="col-md-offset-2 col-md-2 btn btn-xs btn-default">@item.GameNumber</div>
            </div>
        }
    </div>
</div>
