﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@GlobalRes.RoomTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/userJS")
    @Scripts.Render("/signalr/hubs")
</head>
<body>
    @Ajax.ActionLink("updategameusers", "GameUserList", null, new AjaxOptions { UpdateTargetId = "gameusers" },
                new { @id = "updategameusers", @style = "visibility:hidden;" })
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <div id="currentuser"></div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:initLanguageSet('ru')">Русский</a></li>
                        <li><a href="javascript:initLanguageSet('en')">English</a></li>
                        <li><div id="logoff"></div></li>
                    </ul>

                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <hr />
            <div class="col-md-4">
                <div id="gameusers">
                </div>
            </div>
            <div class="col-md-8">
                <div id="gameAreaNoLabel" class="text-center"><h4>@GlobalRes.GameAreaNoLabel</h4></div>               
                <div id="gameArea" class="text-center">
                </div>

            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="label label-warning">
                GameXO created by VAS - @DateTime.Now.Year
            </div>
        </div>
    </div>
</body>
</html>
