﻿@using GameXO2.WebLevel.Models
@model LoginViewModel
@{
    ViewBag.Title = @GlobalRes.LoginTitle;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    <hr />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="@GlobalRes.GameStart" class="btn btn-primary" />
                <div class="btn btn-default">
                    @Html.ActionLink(@GlobalRes.RegisterInit, "Register")
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</section>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}